/* Google Fonts Import link */
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.sidebar {
	position: fixed;
	top: 88px;
	left: 0;
	height: 100%;
	width: 300px;
	background: #000000;
	z-index: 100;
	transition: all 0.5s ease;
}

.sidebar.close-dropdown {
	width: 78px;
}
/* .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i {
    font-size: 30px;
    color: rgb(151, 147, 147);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidebar .logo-details .logo-name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;

}
.sidebar.close-dropdown .logo-details .logo-name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
} */
.sidebar .nav-links {
	height: 100%;
	overflow: auto;
}

.sidebar.close-dropdown .nav-links {
	overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
	display: none;
}

.sidebar .nav-links li {
	position: relative;
	list-style: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
	background: #383d38;
}

.sidebar .nav-links li .icon-links {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar.close-dropdown .nav-links li .icon-links {
	display: block;
}

.sidebar .nav-links li i {
	height: 50px;
	min-width: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.sidebar.close-dropdown .nav-links li i {
	min-width: 78px;
}

.sidebar .nav-links li i.icon-show {
	position: fixed;
	left: 250px;
	transition: all 0.3s ease; /* mưới */
}

.sidebar .nav-links li.showMenu i.arrow.icon-show {
	transform: rotate(-180deg);
}

.sidebar.close-dropdown .nav-links i.arrow.icon-show {
	display: none;
	transition: all 0.8s ease;
}

.sidebar .nav-links li a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.sidebar .nav-links li a .link_name {
	font-size: 17px;
	font-weight: 400;
	color: #fff;
}

.sidebar .nav-links li a .link_name.dropdown {
	width: calc(300px - 2 * 50px);
}

.sidebar.close-dropdown .nav-links li a .link_name {
	opacity: 0;
	pointer-events: none;
	transition: all 0.8s ease;
}

.sidebar .nav-links li .sub-menu {
	padding: 6px 6px 14px 80px;
	margin-top: -10px;
	background: #383d38;
	display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
	display: block;
}

.sidebar .nav-links li .sub-menu a {
	color: #fff;
	font-size: 14px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.6;
	transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
	opacity: 1;
}

.sidebar.close-dropdown .nav-links li .sub-menu {
	position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	transition: all 0.4s ease;
	opacity: 0;
	display: block;
	pointer-events: none;
}

.sidebar.close-dropdown .nav-links li:hover .sub-menu {
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
	display: none;
}

.sidebar.close-dropdown .nav-links li .sub-menu .link_name {
	font-size: 17px;
	opacity: 1;
	display: block;
	transition: all 0.3s ease;
}

.sidebar.close-dropdown .nav-links li .sub-menu.blank {
	padding: 3px 20px 6px 16px;
	opacity: 0;
	pointer-events: none;
}

.sidebar.close-dropdown .nav-links li:hover .sub-menu.blank {
	top: 50%;
	transform: translateY(-50%);
	/* display: block; */
	opacity: 1;
}
.sidebar .profile-details{
	position: fixed;
	bottom: 0;
	display: flex;
	width: 300px;
	align-items: center;
	justify-content: space-between;
	background: #1d1d31;
	padding: 6px 0;
	transition: all 0.5s ease;
}
.sidebar.close-dropdown .profile-details{
	width: 78px;
	background: none;
}
.sidebar .profile-details .profile-contect{
	display: flex;
	align-items: center;
}
.sidebar .profile-details img{
	height: 52px;
	width: 52px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 14px 0 12px;
	background: #1d1d31;
	padding: 10px;
	transition: all 0.5s ease;
}
.sidebar.close-dropdown .profile-details img {
	padding: 10px;
}
.sidebar .profile-details .profile-name,
.sidebar .profile-details .job {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;

}
.sidebar.close-dropdown .profile-details i,
.sidebar.close-dropdown .profile-details .profile-name,
.sidebar.close-dropdown .profile-details .job{
	display: none;
}
.sidebar .profile-details .job {
	font-size: 12px;
}
.home-section {
	position: relative;
	left: 300px;
	/* height: 100vh; */
	width: calc(100% - 300px);
	transition: all 0.5s ease;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sidebar.close-dropdown ~ .home-section {
	left: 78px;
	width: calc(100% - 78px);
}

.home-content {
	height: 55px;
	display: flex;
	align-items: center;
}

.home-content .bx-menu, .home-section .home-content .text {
	color: #ffffff;
	font-size: 35px;
}

.home-content .bx-menu {
	margin: 0 21px;
	cursor: pointer;
}

.home-content .text {
	font-size: 26px;
	font-weight: 600;
}